.x-btn-default-small {
    min-width: 10em;
    background-image: none !important;
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    margin: 1em;
    padding: 6px;
    transform: translate3d(0, 0, 0);
}

.x-btn-inner {
    line-height: 25px !important;
}